*{
    padding: 0%;
    margin: 0%;
}
#navbar{
   width:1470px;
   height: 64px;
   background-color: #0B0F19;
line-height: normal;
   position: fixed;
}
#logo{
    color: #f50f1b;
    text-decoration: none;
    margin-left:75px;
    font-size: 20px;
    font-family: poppins,inter;
   line-height:64px;
   
}
#nav{
    color: white;
    text-decoration: none;
    margin-left:125px;
    font-family: poppins,inter;
   
}
#icon{
     color: white;
    float: right;
    line-height:64px;
    margin-right:75px;
    font-size: 20px;
}
#icon1{
    color: white;
    float: right;
    line-height:64px;
    margin-right:75px;
    font-size: 20px;
}
#color{
    background-color:#0f172a;
    height:1554px;
}  
#img{
    height:350px;
    width:450px;
    margin-top:120px;
    margin-left:75px;
}
#name{
    color:white;
  font-family:poppins,inter;
    font-size: 50px;
    margin-left:750px;
    margin-top:-400px;
    width:600px;
    line-height:170px;
    height:100px;
}
#button{
    background-color:#e50914;
    color:white;
    height:50px;
    width:150px;
    font-size: 20px;
    font-family: poppins,inter;
    margin-left:750px;
    margin-top:30px;
}
#treanding{
    color:white;
    font-family:"Inter";
    font-size: 30px;
    margin-left:75px;
    margin-top:120px;
}
#trend{
    height:400px;
    margin-left:75px;
    margin-top:20px;

}
#popular1{
    color:white;
    font-family:"Inter";
    font-size: 30px;
    margin-left:75px;
    margin-top:60px;
}
#popular{
    height:400px;
    margin-left:75px;
    margin-top:20px;
}
hr{
    margin-top:30px;
    
}
