*{
    padding: 0%;
    margin: 0%;
}
#navbar{
   width:1470px;
   height: 64px;
   background-color: #0B0F19;
 line-height: normal;
   position:fixed;
   
}
#logo{
    color: #f50f1b;
    text-decoration: none;
    margin-left:75px;
    font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   line-height:64px;
   
}
#nav{
    color: white;
    text-decoration: none;
    margin-left:125px;
    font-family: Arial, Helvetica, sans-serif;
   
}
#icon{
     color: white;
    float: right;
    line-height:64px;
    margin-right:75px;
    font-size: 20px;
}
#icon1{
    color: white;
    float: right;
    line-height:64px;
    margin-right:75px;
    font-size: 20px;
}
#color{
    background-color:#0f172a;
    height:1310px;
} 
#profile{
    height:250px;
    width:250px;
    margin-top:100px;
    margin-left:100px;
    border-radius:100%;
}
#info{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left:375px;
    margin-top:-200px;
    height:100px;
}
button{
    background-color:#f50f1b;
    color:white;
   font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top:75px;
    margin-left:5px;
    width:150px;
    height:40px;
    border:none;
    border-radius:5px;
}
hr{
    margin-top:110px;
    border:1px solid grey;
}
h2{
    color:white;
  font-family: Arial, Helvetica, sans-serif;
    font-size:30px;
    margin-top:20px;
    margin-left:100px;

}
#hr1{
    margin-top:30px;
    border:1px solid grey;

}
#i1{
    background-color:#0f172a;
   height:330;
   width:450px;
   margin-left:15px;
   margin-Top:5px;
   display:inline-block;
    justify-content:space-evenly;
    list-style:none;
}
img{
    height:330px;
    width:475px;
    margin-left:15px;
     border: 1px solid grey;
     
}
li{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top:10px;
    margin-left:15px;   
}
#hr3{
    margin-top:20px;

}
#footer{
    text-align: center;
    margin-top:5px;
}
a{
    margin-left:5px;
    text-decoration: none;
    color: white;
}